---
import { categoryLabel } from "../data/categories";
import { getPostRouteSlug } from "../utils/postRoute";

const { post } = Astro.props;
const { data } = post;
const baseUrl = import.meta.env.BASE_URL.replace(/\/?$/, "/");
const articleUrl = `${baseUrl}articles/${getPostRouteSlug(post)}/`;
const isFeatured = Boolean(Astro.props.featured);
---

<article class:list={["story-card", { featured: isFeatured }]} data-category={data.category} data-keywords={`${data.title} ${data.excerpt} ${categoryLabel(data.category)}`}>
  <img src={`${baseUrl}${data.cover.replace(/^\//, "")}`} alt={data.coverAlt ?? data.title} />
  <div class="story-content">
    <span class="tag">{categoryLabel(data.category)}</span>
    <h3>{data.title}</h3>
    <p>{data.excerpt}</p>
    <a href={articleUrl}>閱讀文章</a>
  </div>
</article>
